<div class="mx-auto px-4 sm:px-6 lg:px-8 h-16 flex items-center justify-between">
  <div class="text-sm text-gray-600">© 2025 Akira Flex. All rights reserved.</div>
  <div class="flex space-x-6">
    <a href="#" class="text-gray-500 hover:text-blue-600">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>
    <a href="#" class="text-gray-500 hover:text-blue-600">
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
    </a>
    <a href="#" class="text-gray-500 hover:text-blue-600">
      <fa-icon [icon]="['fas', 'question-circle']"></fa-icon>
    </a>
  </div>
</div>
