<div class="p-4">
  <form
    class="flex flex-col gap-3"
    [formGroup]="form"
    (ngSubmit)="registerSubmit(); $event.preventDefault()"
    autocomplete="on"
  >
    <div class="flex flex-col gap-1">
      <label class="font-medium" for="register-email">Email</label>
      <p-iconfield>
        <p-inputIcon class="pi pi-envelope" />
        <input
          id="register-email"
          formControlName="email"
          type="email"
          pInputText
          autocomplete="email"
          placeholder="email@dominio.com"
          required
          fluid
        />
      </p-iconfield>
      @if ( form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched) ) {
      <div class="text-xs">
        @if (form.get('email')?.hasError('required')) {
        <p-message severity="error" variant="simple" size="small">El email es requerido.</p-message>
        } @if (form.get('email')?.hasError('email')) {
        <p-message severity="error" variant="simple" size="small">Por favor, introduce un email válido.</p-message>
        }
      </div>
      }
    </div>

    <div class="grid grid-cols-2 gap-2">
      <div class="flex flex-col gap-1">
        <label class="font-medium" for="register-firstname">Nombre</label>
        <p-iconfield>
          <p-inputIcon class="pi pi-user" />
          <input
            id="register-firstname"
            formControlName="firstName"
            pInputText
            autocomplete="given-name"
            placeholder="Nombre"
            required
            fluid
          />
        </p-iconfield>
        @if ( form.get('firstName')?.invalid && (form.get('firstName')?.dirty || form.get('firstName')?.touched) ) {
        <div class="text-xs">
          @if (form.get('firstName')?.hasError('required')) {
          <p-message severity="error" variant="simple" size="small">El nombre es requerido.</p-message>
          }
        </div>
        }
      </div>

      <div class="flex flex-col gap-1">
        <label class="font-medium" for="register-lastname">Apellido</label>
        <p-iconfield>
          <p-inputIcon class="pi pi-user" />
          <input
            id="register-lastname"
            formControlName="lastName"
            pInputText
            autocomplete="family-name"
            placeholder="Apellido"
            required
            fluid
          />
        </p-iconfield>
      </div>
    </div>

    <div class="flex flex-col gap-1">
      <label class="font-medium" for="register-phone">Teléfono (opcional)</label>
      <p-iconfield>
        <p-inputIcon class="pi pi-phone" />
        <input
          id="register-phone"
          formControlName="phone"
          type="tel"
          pInputText
          autocomplete="tel"
          placeholder="Teléfono"
          fluid
        />
      </p-iconfield>
    </div>

    <div class="grid grid-cols-2 gap-2">
      <div class="flex flex-col gap-1">
        <label class="font-medium" for="register-password">Contraseña</label>
        <p-icon-field>
          <i class="pi pi-lock"></i>
          <p-password
            id="register-password"
            formControlName="password"
            name="password"
            autocomplete="new-password"
            placeholder="********"
            toggleMask="true"
            fluid
            required
          ></p-password>
        </p-icon-field>
        @if ( form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched) ) {
        <div class="text-xs">
          @if (form.get('password')?.hasError('required')) {
          <p-message severity="error" variant="simple" size="small">La contraseña es requerida.</p-message>
          } @if (form.get('password')?.hasError('minlength')) {
          <p-message severity="error" variant="simple" size="small"
            >La contraseña debe tener al menos 6 caracteres.</p-message
          >
          }
        </div>
        }
      </div>

      <div class="flex flex-col gap-1">
        <label class="font-medium" for="register-confirm">Confirmar contraseña</label>
        <p-icon-field>
          <i class="pi pi-lock"></i>
          <p-password
            id="register-confirm"
            formControlName="confirmPassword"
            name="confirmPassword"
            autocomplete="new-password"
            placeholder="********"
            toggleMask="true"
            [feedback]="false"
            fluid
            required
          ></p-password>
        </p-icon-field>
      </div>
    </div>

    @if (serverError()) {
    <p-message styleClass="w-full" severity="error" variant="simple" size="small"> {{ serverError() }} </p-message>
    }

    <p-button
      [rounded]="true"
      [raised]="true"
      [disabled]="form.invalid || isLoading()"
      [label]="!isLoading() ? 'Crear cuenta' : 'Creando...'"
      styleClass="w-full my-2"
      type="submit"
      aria-label="Crear cuenta"
    />

    <div class="pt-4 border-t text-center">
      <p class="text-sm">
        ¿Tienes cuenta?
        <p-button
          (onClick)="openDropdown(false)"
          label="Iniciar sesión"
          styleClass="p-button-link text-sm hover:underline"
          type="button"
          aria-label="Iniciar sesión"
        />
      </p>
    </div>
  </form>
</div>
