<div class="mx-auto px-4 sm:px-6 lg:px-8 h-16 flex items-center justify-between">
  <div class="flex items-center">
    <h1 class="text-xl font-bold">Akira Flex</h1>
  </div>
  <div class="flex items-center space-x-4">
    <!-- Profile -->
    <div class="relative">
      <button class="flex items-center focus:outline-none">
        <div class="w-10 h-10 rounded-full bg-gray-300 flex items-center justify-center">
          <fa-icon [icon]="['fas', 'user-circle']" class="text-gray-600"></fa-icon>
        </div>
      </button>
    </div>
  </div>
</div>
