<div class="min-h-screen flex flex-col justify-start md:items-center md:justify-center p-4">
  <div class="w-full max-w-md md:mt-0 mt-8">
    <!-- Logo/Brand Section -->
    <div class="flex flex-col items-center text-center mb-8">
      <app-logotype size="normal" />
    </div>

    <!-- Recovery Form -->
    <p-card class="shadow-xl">
      <ng-template #header>
        <h1 class="text-xl font-semibold text-center pt-3" i18n="@@passwordRecoveryTitle">Recover your password</h1>
      </ng-template>
      <form class="space-y-6" [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
        <!-- Email Field -->
        <div class="space-y-2">
          <label class="block text-sm font-medium" i18n="@@email" for="email">Email address</label>
          <input
            class="w-full"
            id="email"
            [invalid]="recoveryForm.get('email')?.invalid && recoveryForm.get('email')?.touched"
            type="email"
            pInputText
            formControlName="email"
            i18n-placeholder="@@emailPlaceholder"
            placeholder="example@email.com"
            autocomplete="email"
            variant="filled"
          />
          @if (recoveryForm.get('email')?.invalid && recoveryForm.get('email')?.touched) { @if
          (recoveryForm.get('email')?.errors?.['required']) {
          <p-message i18n="@@emailRequired" severity="error" size="small" variant="simple">Email is required</p-message>
          } @else if (recoveryForm.get('email')?.errors?.['invalidEmail']) {
          <p-message i18n="@@emailInvalid" severity="error" size="small" variant="simple"
            >Enter a valid email address</p-message
          >
          } }
        </div>

        <!-- Success Message -->
        @if (successMessage()) {
        <p-message class="w-full" severity="success" icon="pi pi-check-circle" styleClass="mb-2" closable
          >{{ successMessage() }}</p-message
        >
        }

        <!-- Error Message -->
        @if (errorMessage()) {
        <p-message class="w-full" severity="error" icon="pi pi-times-circle" styleClass="mb-2" closable
          >{{ errorMessage() }}</p-message
        >
        }

        <!-- Submit Button -->
        <p-button
          [loading]="isLoading()"
          [disabled]="recoveryForm.invalid"
          type="submit"
          i18n-label="@@requestNewPassword"
          label="Request new password"
          styleClass="w-full p-3"
          size="large"
        />
      </form>
    </p-card>

    <!-- Footer -->
    <div class="text-center mt-6">
      <p class="text-sm" i18n="@@rememberPassword">
        Remember your password?
        <a class="hover:underline" i18n-href="@@loginLink" routerLink="/auth/sign-in">Sign in</a>
      </p>
    </div>
  </div>
</div>
