@import "../../../libs/core/src/lib/public/styles/base.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @import "tailwindcss";
}

@import "primeicons/primeicons.css";

@theme {
  --color-company: oklch(0.4 0.1 260);
  --p-menubar-gap: 0 !important;
}

/* Global styles for the all domains */
* {
  box-sizing: border-box;
}
