@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Source+Sans+3:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-source-sans: "Source Sans 3", sans-serif;
  --font-roboto: Roboto, sans-serif;
}

/* Global styles for the all domains */
html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-source-sans);
}

* {
  box-sizing: border-box;
}

/* Global link styles for all domains */
a {
  @apply transition-colors cursor-pointer;
}

button {
  @apply cursor-pointer transition-all duration-300;
}
