@import "tailwindcss";

.content-area {
  grid-template-rows: auto 1fr auto;
}

@media (max-width: 1023px) {
  .menu-content-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
